<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold">smart contact manager</h1>
<p>start Collecting your contact is very smarter way . we provide very effficient and smarter way of handling contacts</p>
<button class="btn btn-primary btn-lg">Get Start</button>
</div>
   </section>


</body>
</html>